pandas==1.3.5
pandas-datareader==0.9.0
pandas-gbq==0.17.9
pandas-profiling==1.4.1
numpy==1.21.6
seaborn==0.11.2
matplotlib==3.2.2
matplotlib-venn==0.11.7
tensorflow==2.9.2
tensorflow-datasets==4.8.1
tensorflow-estimator==2.9.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.17.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
more-itertools==9.0.0
scikit-image==0.18.3
scikit-learn==1.0.2
sklearn-pandas==1.8.0
